<template>
    <section class="anonymous-screen scroller-y" aria-labelledby="text-1">
        <div id="text-1">{{ $t("root.anonymous_screen.not_connected") }}</div>
        <bm-illustration value="user-question" size-lg="md" over-background :over-background-lg="true" />
        <bm-button variant="fill-accent" size="lg" class="continue-as-guest" @click="$emit('continue')">{{
            $t("root.anonymous_screen.continue_as_guest")
        }}</bm-button>
        <div class="continue_as_user">
            <i18n path="root.anonymous_screen.continue_as_user" tag="div" class="continue_as_user_text">
                <template #domain>
                    <strong>{{ domain }}</strong>
                </template>
            </i18n>
            <div class="continue_as_user_login">
                <bm-icon icon="chevron-right" size="xs" />
                <bm-button variant="text-accent" @click="$emit('login')">{{ $t("common.log_in") }}</bm-button>
            </div>
        </div>
    </section>
</template>

<script>
import { BmButton, BmIcon, BmIllustration } from "@bluemind/ui-components";

export default {
    name: "AnonymousScreen",
    components: { BmButton, BmIcon, BmIllustration },
    computed: {
        domain() {
            return new URL(window.location).hostname;
        }
    }
};
</script>
<style lang="scss">
@import "~@bluemind/ui-components/src/css/utils/variables";
@import "~@bluemind/ui-components/src/css/utils/typography";
@import "~@bluemind/ui-components/src/css/utils/responsiveness";

.anonymous-screen {
    display: flex;
    align-items: center;
    margin: auto 0;
    flex-direction: column;
    gap: $sp-7;
    padding: $sp-6 0 $sp-7;
    @include until-lg {
        padding: $sp-7;
    }
    #text-1 {
        @include title;
        text-align: center;
        margin: 0;
    }
    .bm-illustration {
        flex: none;
        width: 220px;
        height: 240px;
        position: relative;

        & > svg {
            position: absolute;
            left: -65px;
            top: -30px;
        }
    }
    .continue-as-guest {
        .slot-wrapper {
            text-wrap: wrap;
        }
    }
    .continue_as_user {
        background: $surface;
        padding: ($sp-3 + $sp-6) $sp-6 $sp-6;
        display: flex;
        flex-direction: column;
        gap: $sp-5 + $sp-4;
        width: 100%;
        max-width: base-px-to-rem(400);
        .bm-button {
            margin-left: $sp-5;
        }
        .continue_as_user_text {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: $sp-3 base-px-to-rem(4);
            color: $neutral-fg;
            text-align: center;
            @include caption;
            strong {
                @include caption-bold;
                word-break: break-all;
            }
        }
        .continue_as_user_login {
            display: flex;
            justify-content: center;
            align-items: center;
            .bm-icon {
                vertical-align: middle;
            }
            span {
                @include bold;
                color: $secondary-fg;
            }
        }
    }
}
</style>
